/[Ll]ibrary/
/[Tt]emp/
/[Bb]uild/
/[Bb]uilds/
/[Ll]ogs/
/[Oo]bj/
/[Uu]ser[Ss]ettings/
/.vs/
/.vscode

# OS files
.DS_Store
Thumbs.db
Desktop.ini

# IDE / generated project files
*.csproj
*.sln
*.sln.DotSettings.user
*.user
*.userprefs
*.pidb
*.booproj

# Rider
.idea/